

  #container {
    height: 300px;
    width: 1000px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  
  h1 {
    background: orange;
    color: Black;
    margin: 0px auto;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  
  form input[type="text"] {
    width:90px;
  }

  .selectbox1 {
     font-size: 20px;
     width:130px; 
    }
  .numinput{
    width: 200px;
  }


  @media (max-width:586px){

    #container {
      margin: 50px auto;
      width: 380px;
     
    }
    
  .selectbox1 {
    font-size: 20px;
    width:25px; 
   }
 .numinput{
   width: 100px;
 }
    
  }
  
  
  
  